<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta charset="UTF-8">
        <title>Edit</title>
    </head>


    <body>
    <div>
        <form th:method="PATCH" th:action="@{/admin/updating}" th:object="${userUpdate}">
            <label for="id">ID: </label>
            <br/>
            <input type="text" th:field="*{id}" id="id"/>
            <br/>
            <label for="name">First Name</label>
            <br/>
            <input type="text" th:field="*{name}" id="name"/>
            <br/>
            <label for="surname">Second name</label>
            <br/>
            <input type="text" th:field="*{surname}" id="surname">
            <br/>
            <label for="age">Age</label>
            <br/>
            <input type="text" th:field="*{age}" id="age">
            <br/>
            <label for="email">Email</label>
            <br/>
            <input type="text" th:field="*{email}" id="email">
            <br/>
            <label for="password">Password</label>
            <br/>
            <input type="text" th:field="*{password}" id="password"/>
            <br/>

            <p>
                <label>Roles:
                    <input type="checkbox" name="roles"
                           th:each="role : ${allRoles}"
                           th:text="${role.name}"
                           th:value="${role.getId()}"
                           th:field="*{roles}"
                    />
                </label>
            </p>
            <br/>
            <br/>
            <input type="submit" value="Update!">
            <br>
            <form th:method="post" th:action="@{/logout}">
                <button type="submit">Logout</button>
            </form>
        </form>
    </div>




    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    </body>
</html>